body {
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: hsla(208, 33%, 21%, 1) 0%; 
    color: hsla(180, 36%, 46%, 1);
}
 
.headerDiv {
    border: 2px solid  hsla(211, 36%, 46%, 1);
    border-radius: 20px;
    margin: 5vh auto;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width and fontsize to be added via media */
}

.artistField {
    border: 2px solid hsla(211, 36%, 46%, 1);
    border-radius: 20px;
}

.navLinks {
    font-size: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.headerDiv a {
    color: hsla(180, 36%, 46%, 1);
    font-style: italic;
    text-decoration: none;
    margin: 0 25px;
}
.songList {
    display: none;
}

.addWindow {
    display: none;
}

.songName a {
    color: hsla(180, 36%, 46%, 1);
    text-decoration: none;
}
.showSong {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tableHolder {
    width: 80%;
}
.tabWindow {
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

pre {
    font-family: monospace;
    white-space: pre-wrap;
  }

  legend a {
    text-decoration: none;
    color: hsla(180, 36%, 46%, 1);
  }

  .addSongForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    justify-content: center;
    width: 100%;
  }

  .innerSong {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }