body {
    background: hsla(208, 33%, 21%, 1) 0%;
}

.global {
    
    background: rgb(188, 199, 193) 0%;
    display: grid;
    width: 60%;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 10vh 20vh auto;
    margin: 10vh auto 0;
    text-align: center;
    grid-template-areas: 
    "left-aside header right-aside"
    "art-aside songWin right-aside"
    "art-aside tabWin right-aside";
}

aside {
    border: 1px solid black;
}

.leftAside {
    grid-area: left-aside;
}

.rightAside {
    grid-area: right-aside;
}

.artAside {
    grid-area: art-aside;
}

.mainH {
    grid-area: header;
    border: 1px solid black;
}

.songWindow {
    grid-area: songWin;
    border: 1px solid black;
}

.tabWindow {
    grid-area: tabWin;
    border: 1px solid black;
}